body html{
    padding: 0;
    margin: 0;
    background-color: rgba(248,249,250,255);    
}
.fondo{
    background-image:url('fondo.jpg');
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;

    height: 90vh;
    width: 100%;
}   
.pruebas{
    background-color: red;
}
.bebas{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.titulo{
    font-family: 'Bebas Neue', cursive;
}

.fondo-about{
    background-color: rgba(248,249,250,255);
    height: 89vh;
}

.card-width{
    width: 300px;
}

.borde{
    border: 1px solid black;
}
.super-bordo{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}